h3{
  font-weight: bold;
}

.closing-modal{
  margin-right: 3em;
  text-align: right;
}

.github-link{
  padding-top: 1em;
}

.modal-Flashcard{
  width: 100%;
}

.modal-body{
  text-align: center;
}

#resume-btn{
  background-color:#000000;
  border-color: #000000;
}

#sample-img-wrapper{
  text-align: center;
  padding-left: 1em;
  margin-left: auto;
}

#send-button{
  text-align: center;
}

#to-flashcards{
  background-color:#000000;
  border-color: #000000;
}